@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/CEmj0920yyz4.ttf) format('truetype');
}

/*
     FILE ARCHIVED ON 14:10:08 Mar 21, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:24:31 Jun 14, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.92
  exclusion.robots: 0.076
  exclusion.robots.policy: 0.063
  esindex: 0.011
  cdx.remote: 12.962
  LoadShardBlock: 258.384 (6)
  PetaboxLoader3.datanode: 417.533 (7)
  load_resource: 322.277
  PetaboxLoader3.resolve: 99.203
*/